<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880 
  -->
<configuration>
  <configSections>
		<section name="ActiveReports11" type="GrapeCity.ActiveReports.Web.ActiveReportsSettingsSection"/>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\evan.warren\Documents\GrapeCity Samples\ActiveReports 11\Data\Reels.mdb;Persist Security Info=False"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="GrapeCity.ActiveReports.Extensibility.v11, Version=11.3.13822.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Diagnostics.v11, Version=11.3.13822.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Chart.v11, Version=11.3.13822.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Document.v11, Version=11.3.13822.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Export.Document.v11, Version=11.3.13822.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Export.Html.v11, Version=11.3.13822.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Export.Pdf.v11, Version=11.3.13822.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Export.Rdf.v11, Version=11.3.13822.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Export.Xaml.v11, Version=11.3.13822.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
				<add assembly="GrapeCity.ActiveReports.v11, Version=11.3.13822.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Web.v11, Version=11.3.13822.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add verb="*" path="*.ar11" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web.v11, Version=11.3.13822.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" name="AsmxHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="*.ar11" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web.v11, Version=11.3.13822.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR_ReportBinariesStreamer" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <ActiveReports11>
    <WebService reportsFolder="~/" assemblyFolder="~/"/>
  </ActiveReports11>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>